In [1]:
from google.colab import drive # Import a library named google.colab
drive.mount('/content/drive', force_remount=True) # mount the content to the directory `/content/drive`

%cd /content/drive/MyDrive/Tensorflow_Practice
# !mkdir HW13     # I HAVE MADE IT.

Mounted at /content/drive
/content/drive/MyDrive/Tensorflow_Practice

In [3]:
import pandas as pd 
import numpy as np
df = pd.read_csv("salaries.csv")
df.head()
print(df.columns)

Index(['company', 'job', 'degree', 'salary_more_then_100k'], dtype='object')

In [4]:
inputs = df.drop('salary_more_then_100k', axis='columns')
target = df['salary_more_then_100k']

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [7]:
inputs['company_n'] = le_company.fit_transform(inputs['company'])
inputs['job_n'] = le_company.fit_transform(inputs['job'])
inputs['degree_n'] = le_company.fit_transform(inputs['degree'])
inputs.head()

  company                  job     degree  company_n  job_n  degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [8]:
inputs_n = inputs.drop(["company","job","degree"], axis='columns')
inputs_n.head()

   company_n  job_n  degree_n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0

In [9]:
from sklearn import tree

In [10]:
model = tree.DecisionTreeClassifier()
model.fit(inputs_n, target)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [11]:
model.score(inputs_n, target)

1.0

In [12]:
data = pd.read_csv("titanic_train.csv")
data = data.drop(["PassengerId", "Name", "SibSp", "Ticket", "Cabin"], axis="columns")
data

     Survived  Pclass     Sex   Age  Parch     Fare Embarked
0           0       3    male  22.0      0   7.2500        S
1           1       1  female  38.0      0  71.2833        C
2           1       3  female  26.0      0   7.9250        S
3           1       1  female  35.0      0  53.1000        S
4           0       3    male  35.0      0   8.0500        S
..        ...     ...     ...   ...    ...      ...      ...
886         0       2    male  27.0      0  13.0000        S
887         1       1  female  19.0      0  30.0000        S
888         0       3  female   NaN      2  23.4500        S
889         1       1    male  26.0      0  30.0000        C
890         0       3    male  32.0      0   7.7500        Q

[891 rows x 7 columns]

In [13]:
print(data["Age"][0])
pd.options.mode.chained_assignment = None 
cnt = 0
sum = 0
for i in range(len(data)):
  if(data["Embarked"][i] != 'S' and data["Embarked"][i] != 'Q' and data["Embarked"][i] != 'C'):
    data["Embarked"][i] = 'C'
  if(data["Age"][i] >= 0.5):
    cnt+=1
    sum+=data["Age"][i]
  else:
    # print("yes")
    data["Age"][i] = 30
    pass
 
#print(cnt, sum/cnt)
# data.fillna(0)
# data.replace(np.nan, 0)


data[4:10]

22.0

   Survived  Pclass     Sex   Age  Parch     Fare Embarked
4         0       3    male  35.0      0   8.0500        S
5         0       3    male  30.0      0   8.4583        Q
6         0       1    male  54.0      0  51.8625        S
7         0       3    male   2.0      1  21.0750        S
8         1       3  female  27.0      2  11.1333        S
9         1       2  female  14.0      0  30.0708        C

In [14]:
le_Sex = LabelEncoder()
le_Embarked = LabelEncoder()

data["Embarked"] = le_Embarked.fit_transform(data["Embarked"])
data['Sex'] = le_Sex.fit_transform(data['Sex'])
data.head()

   Survived  Pclass  Sex   Age  Parch     Fare  Embarked
0         0       3    1  22.0      0   7.2500         2
1         1       1    0  38.0      0  71.2833         0
2         1       3    0  26.0      0   7.9250         2
3         1       1    0  35.0      0  53.1000         2
4         0       3    1  35.0      0   8.0500         2

In [15]:
survived = data["Survived"]
data = data.drop(["Survived", "Fare"], axis='columns')
data.head()
survived.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [34]:
from sklearn.ensemble import RandomForestClassifier 
model = RandomForestClassifier(n_estimators=150)
# model.fit(df.drop(["target"], axis='columns'), digits.target)
# model = tree.DecisionTreeClassifier()
model.fit(data, survived)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=150,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [35]:
acc = model.score(data, survived)
model.predict(data)
print(acc)

0.9158249158249159

In [24]:
test = pd.read_csv("titanic_test.csv")
passengerid = test["PassengerId"]
test = test.drop(["PassengerId", "Name", "SibSp", "Ticket", "Cabin", "Fare"], axis="columns")
for i in range(len(test)):
  if(test["Embarked"][i] != 'S' and test["Embarked"][i] != 'Q' and test["Embarked"][i] != 'C'):
    test["Embarked"][i] = 'C'
  if(test["Age"][i] >= 0.5):
    cnt+=1
    sum+=test["Age"][i]
  else:
    # print("yes")
    test["Age"][i] = 30
    pass
test[:2]

   Pclass     Sex   Age  Parch Embarked
0       3    male  34.5      0        Q
1       3  female  47.0      0        S

In [25]:
le_Sex = LabelEncoder()
le_Embarked = LabelEncoder()
test["Sex"] = le_Sex.fit_transform(test["Sex"])
test["Embarked"] = le_Embarked.fit_transform(test["Embarked"])
test[10:15]
prediction = model.predict(test)

In [26]:
output = pd.DataFrame({'PassengerId': passengerid, 'Survived': prediction})
output.to_csv('Random_Forest_Titanic.csv', index=False)